name: "Unit Testing"
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt-get update && sudo apt-get install -y python3-pymysql python3-requests
      - run: python3 -m unittest
